@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>WTFCar.com provides a new and innovative different way of tracking a car's reliability.</p> 
<p>Automobile WTF Points based on several factors, including their longevity in the market, their problem categories, and the amount sold in the USA.</p>
