@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@wtfcar.com">support@wtfcar.com</a><br />
    <strong>General Contact:</strong> <a href="mailto:contact@wtfcar.com">contact@wtfcar.com</a>
</address>